.LeftMenu {
    width: 280px;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur (10px);
    padding: 20px 15px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.175, 0.885,0.32,1.275);
}

.LeftMenu .logoContainer{
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.LeftMenu .logoContainer i {
    font-size: 30px;
}
.LeftMenu .logoContainer i:nth-child(3){
    font-size: 20px !important;
}
.LeftMenu .logoContainer h2{
    font-size: 20px;
  
}
.SearchBox {
    width: 190%;
    height: 45px;
    position: relative;
    margin-top: 20px;
    color: #848484;
    overflow: hidden;
    border-radius: 10px;
}
.SearchBox input{
    width: 55%;
    height: 70%;
outline: none;
border: none ;
background-color: rgba(0, 0, 0, 0.5);
padding-left: 30px;
color: #f1F1F1;
font-size: 13px;
font-weight: bold;
}
.SearchBox .SearchIcon{
    position: absolute;
    top: 0;
    left: 0;
    color: #848484;
    width: 45px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}
.MenuContainer {
    margin: 15px 0;
}
.MenuContainer .title , 
.PlayListContainer .nameContainer p{
    color: yellow;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.MenuContainer ul{
    width: 100%;
    padding: 0;

}

.MenuContainer ul li{
    list-style: none;
    margin: 10px 0;
    width: 100%;
    padding: 5px 0;
    position: relative;
}

.MenuContainer ul li a{
    text-decoration: none;
    color: #848484;
    display: flex;
    align-items: center;
    font-size: 16px;

}

.MenuContainer ul li a i {
    font-size: 18px;
    margin-right: 15px;
}
.MenuContainer ul li:before{
    position:absolute;
    content: "";
    top: 0;
    left: -15px;
    width: 0px;
    height: 100%;
    background-color: yellowgreen;
    border-radius: 5px;
}

.MenuContainer ul li:hover::before,
.MenuContainer ul li.active::before {
    width: 5px;
    transition: 0.3s;
    
}
.MenuContainer ul li:hover a ,
.MenuContainer ul li.active  a {
    color: #f1F1F1;
    transition: 0.3s;
}

.PlayListContainer {
    cursor: pointer;
    margin: 15px 0;

}
.PlayListContainer .nameContainer{
    display: flex;
    justify-content: space-between;
    align-self: center;
    color: yellow;
    margin-bottom: 10px;
}

.PlayListContainer .nameContainer p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.PlayListContainer .nameContainer i{
    cursor: pointer;
    color: yellow;
}
.PlayListContainer .playListScroll{
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.PlayListContainer .playListScroll .playlist{
    display: flex;
    align-items: center;
    color: #848484;
    margin: 10px 0;
}

.PlayListContainer .playListScroll .playlist:hover{
    color: yellowgreen;
    transition: 0.3s;
}
.PlayListContainer .playListScroll .playlist .i{
    font-size: 18px;
}

.PlayListContainer .playListScroll .playlist .list{
    margin-right: 15px;
}

.PlayListContainer .playListScroll .playlist .trash{
margin-left: auto;
}
.PlayListContainer .playListScroll .playlist .p{
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}

.tracklist{
    border-top: 1px solid rgba(255, 255, 255, 0.1) ;
    padding-top: 20px;
}

.tracklist .top{

    display: flex;
    align-items: center;

}
.tracklist .top img {
    width: 50px !important;
}

.tracklist .top .trackname {
    margin-left: 10px;
    color: #f1F1F1;
    font-size: 14px;
}
.tracklist .top .trackname .trackSpan{
    display: block;
    font-size: 12px;
    color: #848484;
}

.tracklist .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: #848484;
}
.tracklist .bottom  i{
    font-size: 18px;
}
.tracklist .bottom  i:hover{
color: yellowgreen;
transition: 0.3S;
cursor: pointer;
}

.tracklist .bottom input{
    position: relative;
    height: 5px;
    border: none;
    outline: none;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.1);
   appearance: none;
}
.tracklist .bottom input::before{
    position: absolute;
    content: '';
    top:0;
    left: 0;
    background-color: yellowgreen;
    width: 50%;
    height: 100%;
    border-radius: 10;
    z-index: 2;
    transition: width 250ms linear;
}
.tracklist .bottom input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background-color: #f1F1F1;
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
}

@media screen and (max-width: 550px){
    .LeftMenu{
        width: 64px;
        min-width: 64px;
    }
    .LeftMenu .SearchBox{
        display: none;

    }
    .LeftMenu .tracklist{
        display: none;

    }

    .LeftMenu .PlayListContainer{
        display: none;

    }
    .LeftMenu .MenuContainer ul li a span {
        display: none;


    }
    .LeftMenu .MenuContainer ul li a i {
        font-size: 26px;
    }
    .LeftMenu .MenuContainer ul li{
        margin: 25px 0;
    }
    .LeftMenu .logoContainer h2{
        margin-left: 20px;
    }
}